/* Navbar */
#navbar .logo {
    float: none;
    text-align: center; 
    padding: 10px;  
}



#navbar ul,
#navbar ul li{
    padding-top: 20px;
    float: none;
}

#navbar ul li a{

    padding: 10px;
    border-bottom: #444 dotted 2px;
}

/* Home Info*/
#home-info .info-img{
    display: none;
}
#home-info .info-content{
    float: none;
    width: 100%;
}

/* Boxes */
.box{
    float: none;
    width: 100%;
}

/* About  */
#about-info .info-right,
#about-info .info-left{
    float: none;
    width: 100%;
}
#showcase .showcase-content{
    padding-top: 90px;;
}

#about-info .info-right{
    margin-top: 30px;
}

.l-heading{
    text-align: center;
    margin-bottom: 20px;
}

/* Contact */
#contact-info .box{
    border-bottom: #444 solid 1px;
}

@media(max-height : 800px){
    #navbar {
       
        position:relative;
    }

}